.separatorDiv{
    height: 5px;
    width: 200px;
    border-radius: 10px;
    background: linear-gradient(90deg, #13184F 0%, #F47E20 94.96%);
    margin-top: 70px;
    margin-bottom: 15px;

}

.Link-special-banner{
    background-color: rgba(244, 126, 32, 1);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
}
.Link-special-banner-second{
    background-color:rgba(245, 250, 255,0.2);
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: 600;
}
.emiRow{
    border: 1px solid black;
    margin-top: 0;
}
.EmiContainer{
    padding-top: 100px;
    
}
