.perfectWriteDiv{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-left: 20px;
}

.homeBuyTop{
    height: 100vh;
    background-image: url("../Images/HomeTop.png");
    display: flex;
    align-items: center;
    color: white;
    
}

.homeBuyingHead{
    font-weight: 600;
    font-size: 42px;
}

.active{
    background-color: #F47E20;
    color: white;
    box-shadow: 0px 7.3333330154418945px 9.777777671813965px 0px #20323940;
    border-radius: 40px;
    border: none;
    padding: 10px 15px;
    width: fit-content;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s all ease 0s;
}

.inactive{
    background: #FFFFFF26;
    box-shadow: 0px 7.3333330154418945px 9.777777671813965px 0px #20323940;
    border: 1px solid #FFFFFF;
    font-weight: 600;
    padding: 10px 15px;
    width: fit-content;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s all ease;

}

.homechoiceSection{
    margin-top: 50px;
    background: url("../../Assets/Images/HomeChoiceBackground.png");
    height: 60vh;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: relative;
}

.homeChoiceImageDiv{
    position: absolute;
    top: 0px;
    left: -120px;
    z-index: 10;
    
}

.homeChoiceHead{
    font-weight: 600;
    font-size: 42px;
}

.perfectBg{
    background: url("../../Assets/Images/PerfectHomeBg.png");
}

.changeGameDiv{
    background: linear-gradient(to bottom right, rgba(255, 117, 39, 0.75) 0%, rgba(255, 117, 39, 0.75) 50%,  rgba(0, 0, 0, 0.2) 50%,  rgba(0, 0, 0, 0.2) 100%), url("../Images/HomeChoiceBackground.png");;
    height: 100vh;
    border-radius: 32px;
    width: 90%;
    margin: auto;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.changeGameSection{
    margin-top: 100px;
}

.active::before{
    left: unset;
    right: 0;
    width: 0;
}

.active:hover:before{
    right: unset;
    left: 0;
    width: 100%;
}

.inactive:hover{
    background-color: #FFFFFF;
    color: #000000;
}

.active:hover{
    background-color: #FFFFFF;
    color: #F47E20;
}