.blogsDiv{
    margin: auto;
    background: linear-gradient(180deg, #FFFFFF 13.02%, #EAEBFF 100%);
    border-radius: 20px;
    padding: 20px 0;
}
.blogMainHeading{
    margin: 70px 60px 30px 60px;
    font-size: 1.8rem;
    font-weight: 700;

}
.blogWriter{
    display: flex;
    align-items: center;
    color: rgba(88, 88, 88, 0.9);
    margin-bottom: 10px;
}

.blogCardHeading{
    margin-top: 10px;
    font-weight: 600;
    color: #303030;
    font-size: 25px;
}

.blogCol{
    display: flex;
    justify-content: center;
}

.blogPara{
    color: rgba(88, 88, 88, 0.9);
}

.blogCardContent{
    width: 80%;
    margin-left: 10px;
}

.SubContentHeading h5{
    margin-top: 10px;
    font-size: 1rem;
}
.blogCardContent{
    width: 23vw;
}
.blogCardContent img{
    width: 100%;
}
.blogCardContent h3{
    font-size: 1rem;
    font-weight: 700;
}
.BlogsRow{
    height: 60%;
}
.ArrowIcon svg{
    color: gray;
    font-size: 4rem;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    background-color:  rgba(232, 232, 232, 0.83);
}
.blogsDiv hr{
    width: 90%;
    margin-left: 60px;
    height: 1px;
}


/* blog main */
.Blog-Maincontainer{
    margin-top: 80px ;
}
.Blog-heading{
    font-size: 3rem;
    font-weight: 800;
    color: rgba(28, 27, 77, 1);
}
.Blog-SubHeading{
    font-size: 1.7rem;
    font-weight: 600;
    color: rgba(244, 126, 32, 1);
    margin-bottom: 70px;
}
.Blog-Image{
    width: 90%;
}