.blogsDiv{
    width: 80%;
    margin: auto;
    background-color: white;
    border: 1px solid #0000000F;
    box-shadow: 5px 4px 4px 0px #00000040;
    border-radius: 20px;
    padding: 70px 40px;
}

.blogWriter{
    display: flex;
    align-items: center;
    color: rgba(88, 88, 88, 0.9);
    margin-bottom: 80px;
}

.blogCardHeading{
    margin-top: 30px;
    font-weight: 600;
    color: #303030;
    font-size: 25px;
}

.blogCol{
    display: flex;
    justify-content: center;
}

.blogPara{
    color: rgba(88, 88, 88, 0.9);
}

.blogCardContent{
    width: 80%;
}

.blogHeading{
    text-align: center;
    font-weight: 600;
    color: #1C1B4D;
    margin-top: 60px;
}

.blogSubHeading{
    margin-top: 30px;
    text-align: center;
    color: #0000009E;
    margin-bottom: 100px;

}