@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

.companiesHeading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #25464A;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 20px;

}

.aboutPage{
    background-color: #f5f5f5;
}

.companiesCol{
    display: flex;
    justify-content: center;
}

.ourStoryHead{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #F47E20;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.videoDiv{
    width: 50%;
    margin: auto;
    border-radius: 20px;
    margin-top: 50px;
    position: relative;
    /* border: 10px solid white; */
}

.cardSectionTop{
    background: url("../Images/AboutTopImage.png") ;
    height: 80vh;
    background-size: 100% 100%;
    justify-content: center;
    display: flex;
    align-items: center;

}

.aboutLine{
    width: 100px;
    height: 10px;
    background: linear-gradient(89.68deg, #5662AB -52.03%, #F47E20 94.18%);
    margin: auto;
    margin-bottom: 40px;
}

.cardContent{
    text-align: center;
}

.cardContent h4{
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.cardContent p{
    color: white;
}

.teamCardFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.teamCardContent{
    width: 50%;
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #00000087;
    box-shadow: 4px 4px 4px 0px #00000040;
    margin-top: -100px;
    text-align: center;

}

.avatarImage{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
  
}