.browseTop{
    height: 100vh;
    background: url("../../Assets/Images/ProjectTopImage.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchDiv{
    width: 500px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.indCardDiv{
    border: 1.05px solid #52525217;
    border-radius: 10px;
    padding: 10px 0

}
.property{
    width: 90%;
    margin: auto;
    text-align: left;
    padding-bottom: 70px;
    margin-top: 70px;
}

.property-head{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 70px;
}
.property-sidehead{
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
}
.property-sidehead h5{
    font-weight: 600;
}